* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

header {
    height: 800px;
    background-color: bisque;
    background-image:url(../assets/images/background.jpg);
    background-size: cover;
    background-position: right 0 top 800px;

    padding: 0px;
    margin: 0px;
    text-align: center;
    display: grid;
    place-items: center;
}

h1 {
    color: #926339;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    padding-top: 0px;
}

h2 {
    color: #926339;
    font-size: 17px;
    font-weight: 300;
    margin: 0;
    padding-top: 10px;
}

.read-more-btn {
    margin-top: 16px;
    padding: 10px 20px;
    font-size: 17px;
    color: #926339;
    background-color: transparent;
    border: 1px solid #926339;
    border-radius: 8px;
    cursor: pointer;

}

.read-more-btn:hover {
     background-color: #926339;
     color: white;
}

p {
    
    height: 80px;
    display: inline-block;
    background-color: #926339;
    color: white;
    font-size: 12px;
    font-weight: 10;
    padding: 12px;
    text-align: center;
    
}

.second-paragraph {
    color: #926339;
    background-color: white;
}

.parent1 {
    font-size: 0px;
    
}

.column {
    font-size: 12px;
    width: 33.3%;
    padding: 10px;
    margin: 0px;
    text-align: initial;
    height: 60px;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
}

.child1 {
    background-color: #926339;
    color: white;
}

.middle-column {
    background-color: white;
    color: #926339;
}