* {
  /* Box Model */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Typography */
  font-family: 'Arial', sans-serif;
}

header {
  /* Box Model */
  display: grid;
  place-items: center; 
  height: 800px;
  
  /* Typography */
  text-align: center;

  /* Visual */
  background-color: bisque;
  background-image: url(../assets/images/background.jpg);
  background-size: cover;
  background-position: right 0 top 800px;
}

h1 {
  /* Box Model */
  margin: 0;

  /* Typography */
  color: #926339;
  font-size: 40px;
  font-weight: 600;
}

h2 {
  /* Box Model */
  margin: 0;
  padding-top: 10px;

  /* Typography */
  color: #926339;
  font-size: 17px;
  font-weight: 300;
}

.read-more-btn {
  /* Box Model */
  margin-top: 16px;
  padding: 10px 20px;
  border: 1px solid #926339;
  border-radius: 8px;

  /* Typography */
  font-size: 17px;
  color: #926339;
  
  /* Visual */
  background-color: transparent;

  /* Miscellaneous */
  cursor: pointer;
}

.read-more-btn:hover {
  /* Typography */
  color: white;

  /* Visual */
  background-color: #926339;
}

p {
  /* Box Model */
  display: inline-block;
  height: 80px;
  padding: 12px;

  /* Typography */
  color: white;
  font-size: 12px;
  font-weight: 100; 
  text-align: center;

  /* Visual */
  background-color: #926339;
}

.second-paragraph {
  /* Typography */
  color: #926339;
  
  /* Visual */
  background-color: white;
}

.parent1 {
  /* Typography */
  font-size: 0px; 
}

.column {
  /* Box Model */
  display: inline-block;
  vertical-align: top;
  width: 33.3%;
  height: 60px;
  padding: 10px;
  margin: 0px;
  box-sizing: border-box;
  
  /* Typography */
  font-size: 12px;
  text-align: initial;
}

.child1 {
  /* Typography */
  color: white;
  
  /* Visual */
  background-color: #926339;
}

.child2 {
  /* Typography */
  color: #926339;
  
  /* Visual */
  background-color: white;
}